<h1>☆未経験大歓迎!オープニングスタッフ大募集☆</h1>
<!-- <p>Find me in app/views/jobs/index.html.erb</p> -->



 <!-- def JobType < ActiveRecord::Base
  self.table_name = 'JobType'
end

class コントローラー名 < ApplicationController
  def list
    # allメソッドで作成したテーブルをすべて取得します。
    @syohin = Syohin.all
  end
end -->

  <!-- <ul>
    <il>職種：<%= JobType %></li>
    <il>都道府県：<%= Area %></li>
    <il>投稿日：<%= JobTypeDetail %></li>
  </ul> -->
